/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
    .navigationSlider .slidingNav {
        border: 1px solid white;
        box-shadow: 0px 3px 3px #888;
        height: 103px;
    }
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

/* Navbar */
.fixedHeaderContainer {
    border-bottom: 1px solid white;
    box-shadow: 0px 3px 3px #888;
}

.toc .toggleNav ul {
    border-left: 1px solid #874aa2;
    margin-left: 2px;
    padding: 0px;
}

.toc .toggleNav ul li a {
    margin-left: 7px;
}

.nav-footer {
    background: linear-gradient(120deg, #874aa2 50%, #e961b6 50%);
}

.nav-footer .sitemap a {
    color: white;
    font-size: 16px;
    margin-top: 10px;
}

.nav-footer .sitemap h5 {
    font-size: 20px;
    font-weight: 900;
    margin-top: 10px;
}

.nav-footer .copyright {
    color: white;
    font-size: 22px;
    font-weight: 900;    
}
